body {
    font-family: Arial, sans-serif;
}

.hero-section {
    background: linear-gradient(
        135deg,
        #f8f9fa,
        #e9f2ff
    );
}

.min-vh-75 {
    min-height: 75vh;
}

.feature-box {
    background: #f8f9fa;
    padding: 18px;
    border-radius: 12px;
    text-align: center;
}

.feature-box h5 {
    margin-bottom: 5px;
}

.card {
    border-radius: 16px;
}

.btn {
    border-radius: 10px;
}